#Cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
    background-color: #fff;
}
#Cadastro .form{
    background-color: #f1f1f1;
    width: 100%;
    max-width: 480px;
    padding: 0.5rem;
}

#Cadastro .label{
    display: block; 
}
#Cadastro  .field{
    padding-bottom: 0.5rem ;
}

#Cadastro  .field input{
    width: 100%;
}

#Cadastro  .actions{
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 10px;
}

#Cadastro .BotaoCadastrarPaciente{

    margin-top: 2px;
    background: #E96744;
    color: #fff;
    border: none;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    height: 5vh;
  
  }

#Cadastro .back{
   margin-left: 435px;
  }

#Cadastro .BotaoVoltarCadastroPaciente{

    margin-top: 10px;
    background: #E96744;
    color: #fff;
    border: none;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 2px 2px;
    height: 5vh;
  
  }
   
