#homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 50%;
  background-color: #000000;
}

#homepage #header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vh;
  margin: 10px;
}

#homepage #header .cadastroPaciente {
  margin-top: 10px;
}

#homepage #header .BotaoCadastroPaciente {
  background: #ffffff;
  color: #000000;
  border-radius: 25px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

#homepage #header .exit {
  margin-top: 10px;
  padding-left: 430px;
}

#homepage #header .BotaoSairHomePage {
  background: #ffffff;
  color: #000000;
  border-radius: 25px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

#homepage .pesquisa1 {
  border-radius: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vh;
  height: 25px;
}

#homepage .lista {
  border-radius: 25px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
}

#homepage .itemLista {
  border-radius: 25px;
  width: 70vh;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: solid;
  border-color: black;
}

#homepage .back {
  padding-left: 620px;
}

#homepage .BotaoVoltarHomePage {
  background: #ffffff;
  color: #000000;
  border-radius: 25px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}
